version: "2.1"
services:
  db:
    image: "postgres:13.5-alpine3.15"
    restart: "on-failure"
    environment:
      POSTGRES_HOST: "$POSTGRES_HOST"
      POSTGRES_DB: "$POSTGRES_DB"
      POSTGRES_USER: "$POSTGRES_USER"
      POSTGRES_PASSWORD: "$POSTGRES_PASSWORD"
    volumes:
     - ./db/.pgdata:/var/lib/postgresql/data/
    healthcheck:
      test: echo 'SELECT 1' | PGPASSWORD=$POSTGRES_PASSWORD psql --host $$HOSTNAME --user $POSTGRES_USER $POSTGRES_DB
      interval: 1m
      timeout: 10s
      retries: 3

  redis:
    image: "redis:6.2.6-alpine3.15"
    command: >
      --requirepass ${REDIS_PASSWORD}
    restart: "on-failure"
    environment:
      REDIS_PASSWORD: "$REDIS_PASSWORD"
    healthcheck:
      test: redis-cli PING || exit 1
      interval: 1m
      timeout: 10s
      retries: 3

  webapp:
    build: ./webapp
    image: "{{ cookiecutter.project_name }}_webapp:dev"
    restart: "on-failure"
    ports:
     - "8000:8000"
    depends_on:
     - db
     - redis
     - migrate
    environment:
      DJANGO_SETTINGS_MODULE: $DJANGO_SETTINGS_MODULE
      DJANGO_SECRET_KEY: $DJANGO_SECRET_KEY
      POSTGRES_HOST: $POSTGRES_HOST
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      REDIS_URL: $REDIS_URL
    volumes:
     - ./webapp:/app
    healthcheck:
      test: curl --fail http://localhost:8000/?healthcheck || exit 1
      interval: 1m
      timeout: 10s
      retries: 3

  migrate:
    image: "{{ cookiecutter.project_name }}_webapp:dev"
    command: sh entrypoints/migrate.sh
    restart: "on-failure"
    # container_name prevents scaling the migrate container beyond 1
    container_name: ${COMPOSE_PROJECT_NAME}_migrate
    environment:
      DJANGO_SETTINGS_MODULE: $DJANGO_SETTINGS_MODULE
      DJANGO_SECRET_KEY: $DJANGO_SECRET_KEY
      POSTGRES_HOST: $POSTGRES_HOST
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      REDIS_URL: $REDIS_URL

  celeryworker:
    image: "{{ cookiecutter.project_name }}_webapp:dev"
    command: sh entrypoints/runcelery.sh
    restart: "on-failure"
    depends_on:
     - webapp
    environment:
      DJANGO_SETTINGS_MODULE: $DJANGO_SETTINGS_MODULE
      DJANGO_SECRET_KEY: $DJANGO_SECRET_KEY
      POSTGRES_HOST: $POSTGRES_HOST
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      REDIS_URL: $REDIS_URL
    volumes:
     - ./webapp:/app
    healthcheck:
      test: pdm run celery -A {{ cookiecutter.project_name }}.celery inspect ping -d celery@celery || exit 1
      interval: 1m
      timeout: 10s
      retries: 3

  celerybeat:
    image: "{{ cookiecutter.project_name }}_webapp:dev"
    command: sh entrypoints/runcelerybeat.sh
    restart: "on-failure"
    depends_on:
     - celeryworker
    environment:
      DJANGO_SETTINGS_MODULE: $DJANGO_SETTINGS_MODULE
      DJANGO_SECRET_KEY: $DJANGO_SECRET_KEY
      POSTGRES_HOST: $POSTGRES_HOST
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      REDIS_URL: $REDIS_URL
    volumes:
     - ./webapp:/app
    healthcheck:
      test: ps -p $$(cat /tmp/celerybeat.pid) || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
